@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 400;
  src: local('Sniglet Regular'), local('Sniglet-Regular'), url(https://fonts.gstatic.com/s/sniglet/v10/cIf9MaFLtkE3UjaJ9C6hYQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: 'Sniglet', cursive;
}

.header {
  height: 35px;
  width: 1000px;
  background-color: rgb(33, 90, 68);
  margin: 0 auto;
  padding: 2px 90px;
  box-sizing: border-box;
}

.header .name {
  display: inline-block;
  color: #c0ecb5;
  font-size: 24px;
  margin: 2px;
  text-shadow: 3px 2px 6px rgb(19, 19, 68);
}

.main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  margin: 0 auto;
  height: 20px;
  width: 1000px;
  background-color: #86b19b;
}

.aside {
  display: flex;
  width: 300px;
  background-color: rgb(177, 233, 186);
  flex-direction: column;
}

.aside .photo {
  margin: 10px auto;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.aside>div {
  width: 250px;
  margin: 10px auto;
}

.aside>div>h4 {
  margin: 3px 0;
  font-size: 18px;
}

.aside a {
  text-decoration: none;
  color: black;
}

.about {
  height: 100%;
  width: 700px;
  background-color: rgb(196, 221, 206);
}

.about>div {
  margin: 10px 25px;
}

.about>div>h3 {
  text-transform: uppercase;
  background-color: rgb(145, 170, 155);
  font-size: 20px;
  margin: 5px 0;
  padding: 0 5px;
}

.hodor {
  font-family: monospace;
  font-size: 14px;
}

.code-example small {
  margin: 0 5px;
  font-size: 16px;
}

.language>p>small {
  text-decoration: line-through;
}

input[id^="spoiler"] {
  display: none;
}

input[id^="spoiler"]+label {
  display: block;
  cursor: pointer;
  font-size: 16px;
}

input[id^="spoiler"]:checked+label {
  color: #333;
}

input[id^="spoiler"]~.spoiler {
  width: 90%;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgb(168, 172, 166);
}

input[id^="spoiler"]:checked+label+.spoiler {
  height: auto;
  opacity: 1;
  padding: 10px;
}